.c-item{
    height: 450px;
}
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

#overview{
    height: 100px;
    background-color: rgb(186, 186, 186);
}
.col-xl{
    font-size: 20px;
}